*{
	font-family: arial;
	text-align: center;
}

table{
	margin-left: auto;
	margin-right: auto;
}

table, td, th{
	border-width: 1px;
	border-color: white;
	border-collapse: collapse;
	border-style: solid;
	color: white;
}

th{
	background-color: rgb(209, 17, 65);
	color: white;
	font-size: 15pt;
	margin: 5px;
	padding: 1px;
	height: 20pt;
}

td{
	background-color: rgb(0, 174, 219);
	color: white;
	font-size: 15pt;
	width: 30px;
	height: 20px;
	font-weight: bold;
}

td.libre{
	background-color: rgb(0, 177, 89);
}

td>p{
	background-color: rgb(243, 119, 53);
	margin: 5px;
	padding: 2px;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	font-size: 8pt;
}

th>img{
	width: 15px;
	height: 15px;
	vertical-align: middle;
}

td:empty
{
	background-color: lightblue;
}